body,h1{
  font-family: 'Montserrat', sans-serif;
  color: #fff; 
}
/*HOME*/
.home{
 background-image: url('../img/home-5.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.navbar-default{
  background-color: transparent;
  border: none;
}
.navbar-default .navbar-brand{
  color: #fff;
}
.navbar-default .navbar-nav>li>a{
color: #fff; 
font-weight: 100;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
color: #fff;
font-weight: bold;    
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
}
#logo{
  width: 15rem;
}
h1{
  font-weight: bold;
}
#texto1{
  font-weight: 400;
}
#contato{
  border: 2px solid #fff;
  margin-top: 6px;
  padding: 8px 15px;
}
#contato:hover{
  background-color: #bf3258;
  border: 2px solid #bf3258;
  color:#fff;
  margin-top: 6px;
  padding: 8px 15px;
}
.btn-destaque {
    color: #fff;
    background-color: #bf3258;
    border-color: none;
    border-radius: 0px;
    margin-top: 1rem;  
}
.btn:hover {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
/*SOBRE*/
.sobre{
  background-image: url('../img/img-bckg-sobre.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
#contato-sobre{
  border: 2px solid #fff;
  margin-top: 6px;
  padding: 8px 15px;
}
#contato-sobre:hover{
  background-color: #fff;
  border: 2px solid #fff;
  color:#bf3258;
  margin-top: 6px;
  padding: 8px 15px;
}


h2{
  color: #fff;
}


.brand1{
  font-weight: bold;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
  background-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar{
  background-color: #fff;
}
.navbar-default .navbar-toggle{
  border: 2px solid #fff;
  border-radius: 0px
}
.container-fluid{
  padding-right: 0px;
  padding-left: 0px; 
}
.jumbotron{
  background-color: transparent;
  margin-top: 16rem;
}
.jumbotron h1{
  font-size: 50px;
}
.jumbotron p{
  font-size: 28px;
}



.btn-trabalho {
    color: #000;
    background-color: transparent;
    border: 2px solid #000;   
    border-radius: 0px;
    margin-top: 34.5rem;   
}
@media screen and (max-width: 768){
  .btn-trabalho {
    margin-top: 5rem;   
}
}
.alinha{
  margin-top: 10rem;
}
.ativa{
  font-weight: bold;
}
/*SOLUCOES*/
#contato-solucoes{
  background-color: #fff;
  color: #bf3258;
  border: 2px solid #bf3258;
  margin-top: 6px;
  padding: 8px 15px;
}
.solucoes .navbar-default .navbar-toggle {
    border: 2px solid #888;
    border-radius: 0px;
}
.solucoes .navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
}
.videos{
  height: 29.4rem;
  margin-top: 7rem;
  background-image: url('../img/videos.png');
 background-repeat: no-repeat;
}
.videos:hover{
  height: 29.4rem;
  margin-top: 7rem;
  background-image: url('../img/videos.png');
  background-repeat: no-repeat;
}
.midias{
  width: 100%;
  height: 29.4rem;
  margin-top: 7rem;
  background-image: url('../img/midia.png');
 background-repeat: no-repeat;
}
.consultoria{
  
  height: 29.4rem;
  margin-top: 4rem;
  background-image: url('../img/consultoria.png');
 background-repeat: no-repeat;
}
.marketing{
  width: 100%;
  height: 29.4rem;
  margin-top: 4rem;
  background-image: url('../img/marketing.png');
 background-repeat: no-repeat;
}
.titulo-solucoes{
  font-weight: bold;
  position: relative;
  padding: 0px 15px;
  top: 260px
}
/*PORTFOLIO*/
.portfolio .navbar-default .navbar-toggle {
    border: 2px solid #888;
    border-radius: 0px;
}
.portfolio .navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
}

.portfolio h2{
  color: #888;
  margin-top: 6rem;
}
.alinha-videos{
  margin-top: 1rem;
}
.portfolio-decoration{
  color: #888;
  font-size: 2.5rem;
  margin-bottom: 0px;
  margin-top: 3rem;
}
.portfolio-decoration2{
  color: #bf3258;
  font-size: 2.5rem;
  margin-bottom: 0px;
}
.portfolio-decoration3{
  color: #888;
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 0px;
}
/*CONTATO*/
.contato{
  color: #000;
  background-image: url('../img/contato.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.contato .navbar-default .navbar-toggle {
    border: 2px solid #888;
    border-radius: 0px;
}
.contato .navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
}
.contato .row{
  margin-top: 5rem;
}
#titulo-contato{
  color: #888;
}
#contato-contato{
  background-color: #bf3258;
  color: #fff;
  border: 2px solid #bf3258;
  margin-top: 6px;
  padding: 8px 15px;
}
.nav-black{
 color: #000;
}
.navbar-default .nav-black>li>a{
  color: #9c9c9b;
 }
 .navbar-default .nav-black>li>a:hover{
  color: #bf3258;
  font-weight: bold;
 }
 form{
  margin-top: 4rem;
 }
 .form-control{
  border-radius: 0px;
}
.btn-contato {
    color: #fff;
    background-color: #bf3258;
    border: 2px solid #bf3258;   
    border-radius: 0px; 
}
.btn-contato:hover {
     color: #bf3258;
    background-color: transparent;
    border: 2px solid #bf3258;   
    border-radius: 0px;   
}
.midia{
float: right;
padding-top: 5px;
}
.midia2{
float: left;
padding-top: 5px;
margin-bottom: 2rem;
}
.midia-groups{
  margin-left: 12px;
}
.midia-groups2{
  margin-right: 12px;
}
.informacoes{
  color: #fff;
  font-size: 18px;
  background-color: #bf3258;
  padding: 10px;
  margin-top: 1rem;
}
/*FOOTER*/
.footers{
  margin-top: 5rem;
}

@media screen and (max-width: 768px){
  #contato{
  border: none;
  padding: 8px 15px;
}

@media screen and (max-width: 768px){
  .titulo-solucoes{
  font-weight: bold;
  position: relative;
  padding: 0px 15px;
  top: 240px
}
}
